* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background: linear-gradient(287.56deg, #C2E9FB 0%, #A1C4FD 100%);
  display: grid;
  place-items: center;

  height: 100vh;
}

.hide {
  display: none;
}

main {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: .6rem;

  padding: 4.8rem 6.4rem 6.4rem;

  width: min(42.8rem, 90%);

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: -12rem;
}

main h1, h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.9rem;

  color: rgb(52, 53, 91);
} 

main p {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;

  color: rgba(52, 53, 91, 0.8);

  margin: 1.6rem 0 4.8rem;
}

form {
  display: flex;
  justify-content: center;
}

input, button {
  font-family: 'DM Sans';
  font-size: 1.6rem;
  border: none;
  padding: 1.6rem;
  line-height: 2.1rem;
}

input {
  font-weight: 400;
  color: #34355B;
  background: #DCE2E9;
  border-radius: .4rem 0rem 0rem .4rem;
  width: 7.0rem;
}

button {
  background: #7879F1;
  border-radius: 0px 4px 4px 0px;
  color: #FFFFFF; 
  font-weight: bold;
}

button:hover {
  background: #5656f0;
  cursor: pointer;
}